{% extends 'layout.html' %}

{% block body %}
<h1 class="text-center mb-4">Registro de nuevo cliente</h1>
<div class="col-md-4 offset-md-4">

  <div class="card card-body">
    <h2 class="text-center mb-4">Ingresa tus datos</h2>

    <form action="/registrar_cliente" id="registro" method="POST">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}">

      <div class="form-group mb-2">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control campo-valido" name="nombre" id="nombre" required>
      </div>

      <div class="form-group mb-2">
        <label for="apellidos" class="form-label">Apellidos</label>
        <input type="text" class="form-control" name="apellidos" id="apellidos" required>
      </div>

      <div class="form-group mb-2">
        <label for="nick" class="form-label">Nick</label>
        <input type="text" class="form-control" name="nick" id="nick" required>
      </div>

      <div class="form-group mb-2">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" name="password" id="password" required>
      </div>

      <div class="form-group mb-2">
        <label for="password2" class="form-label">Escribe de nuevo tu contraseña</label>
        <input type="password" class="form-control" name="password2" id="password2" required>
      </div>

      <div class="form-group mb-2">
        <label for="correo" class="form-label">Correo</label>
        <input type="email" class="form-control" name="correo" id="correo" required>
      </div>

      <div class="text-center mt-4">
        <input type="submit" class="btn btn-primary" value="Registrar">
      </div>

      <div class="mt-4 text-center">
        <a href="{{url_for('login')}}">¿Ya tienes una cuenta? Inicia sesion ahora!</a>
      </div>

    </form>
  </div>
</div>
{% endblock %}
{% block customJS%}
<script src="{{url_for('static', filename='js/validation.js')}}"></script>
{% endblock %}