{% extends 'layout.html' %}
{% block title %}Login{% endblock %}
{% block body %}
<h1 class="text-center mb-4">Bienvenido a mi tienda</h1>
<div class="col-md-4 offset-md-4">

  <div class="card card-body">
    <h2 class="text-center mb-4">Ingresa tus datos</h2>
    <form action="/login" method="POST">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}">

      <div>
        <img class="img-fluid d-block mx-auto" src="{{url_for('static', filename='img/icon-tienda.png')}}" alt=""
          width="100">
      </div>

      <div class="form-group mb-2">
        <label for="nick" class="form-label">Nick</label>
        <input type="text" class="form-control" name="nick" id="nick" required>
      </div>

      <div class="form-group mb-2">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control " name="password" id="password" required>
      </div>

      <div class="text-center mt-4">
        <button type="submit" class="btn btn-primary">Ingresar</button>
      </div>

      <div class="mt-4 text-center">
        <a href="{{url_for('nuevo_cliente')}}">¿No tienes una cuenta? crea una nueva ahora!</a>
      </div>

    </form>
  </div>

  {% with messages = get_flashed_messages(with_categories = True) %}
  {% if messages %}
  <br>
  {% for category, message in messages %}
  {% if category == 'warning' %}
  <div class="alert alert-warning alert-dismissible fade show mt-4" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% else %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% endwith %}

</div>
{% endblock %}