{% extends 'base.html' %}

{% block title %} Update {% endblock %}

{% block container %}
<div id="btn-back">
  <a href="{{url_for('contacts.index')}}" class="btn-back">Back</a>
</div>

<div id="form">
  <h1 class="section-title">Update a contact</h1>
  <form action="{{url_for('contacts.update', id=contact.id)}}" method="POST">
    <input type="text" id="fullname" name="fullname" value="{{contact.fullname}}" placeholder="Enter the full name" required><br>
    <input type="email" id="email" name="email" value="{{contact.email}}" placeholder="Enter an email" required><br>
    <input type="text" id="phone" name="phone" value="{{contact.phone}}" placeholder="Enter a telephone number" required><br>
    <input type="submit" value="Update">
  </form>
</div>
{% endblock %}